@import "../../vars.scss";

.stats-container {
  padding: $margin-medium;
  background-color: $bg-color;
  margin-top: $margin-medium;
  border: $border;
  border-radius: $border-radius;
}

.heading {
  color: $black;
  font-size: $font-medium;
  border-bottom: $border;
  padding-bottom: 0.5em;
}

.team-score {
  display: flex;
  justify-content: space-between;
  align-items: $text-center;
}

.name,
.score {
  margin: $m-0 $m-0 $margin-small;
  padding: $m-0;
}

.score {
  padding: 5px 10px;
  background-color: $almost-grey;
  border: $border;
  border-radius: $border-radius;
}

.red-score {
  color: $red;
}

.green-score {
  color: $green;
}
