@import "../../vars.scss";

.avatar {
  width: 33px;
  border-radius: $border-rounded;
  text-align: $text-center;
}

th {
  text-align: left;
  background-color: $almost-grey;
  color: $medium-grey;
  font-size: $font-default;
}

th,
td {
  padding: $margin-medium $margin-small;
  border-bottom: $border;
}

.table {
  background-color: $bg-color;
  padding: $margin-large;
  margin-top: $margin-small;
  max-width: $max-width;
  min-width: $min-width;
  overflow: scroll;
  width: $w-full;
  border: $border;
  border-radius: $border-radius;
}

table {
  border-collapse: collapse;
  min-width: $min-width;
  border: $border;
  width: $w-full;
}

.green {
  background-color: $light-green;
}

.red {
  background-color: $light-red;
}

.green,
.red {
  padding: $margin-small;
  border-radius: 20px;
  text-transform: capitalize;
}

.nb-players {
  color: $black;
  font-size: $font-medium;
  margin-top: $m-0;
}
