@import "../../vars.scss";

.avatar {
  width: 33px;
  border-radius: 50%;
  text-align: center;
}

th {
  text-align: left;
  background-color: $almost-grey;
  color: $medium-grey;
  font-size: $font-default;
}

th,
td {
  padding: $margin-medium $margin-small;
  border-bottom: 1px solid $light-grey;
}

.table {
  background-color: #fff;
  padding: $margin-large;
  margin-top: $margin-small;
  max-width: 700px;
  min-width: 400px;
  overflow: scroll;
  width: 100%;
  border: 1px solid $light-grey;
  border-radius: 6px;
}

table {
  border-collapse: collapse;
  min-width: 400px;
  overflow: scroll;
  border: 1px solid #dadfe6;
  width: 100%;
}

.green {
  background-color: $light-green;
}

.red {
  background-color: $light-red;
}

.green,
.red {
  padding: $margin-small;
  border-radius: 20px;
  text-transform: capitalize;
}

.nb-players {
  color: $black;
  font-size: $font-medium;
  margin-top: 0;
}
