@import "../../vars.scss";

.profile {
  width: $w-full;
  background-color: $bg-color;
  text-align: $text-center;
  padding: $margin-extralarge;
  border: $border;
  border-radius: $border-radius;
}

.picture {
  width: 90px;
  border-radius: $border-rounded;
}

h4 {
  color: $black;
  font-size: $font-medium;
  margin-bottom: 3px;
}

.email,
.number {
  margin: $m-0;
  color: $medium-grey;
}
