@import "../../vars.scss";

.stats-container {
  padding: $margin-medium;
  background-color: #fff;
  margin-top: $margin-medium;
  border: 1px solid $light-grey;
  border-radius: 4px;
}

.heading {
  color: $black;
  font-size: $font-medium;
  border-bottom: 1px solid $light-grey;
  padding-bottom: 0.5em;
}

.team-score {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.name,
.score {
  margin: 0 0 $margin-small;
  padding: 0;
}

.score {
  padding: 5px 10px;
  background-color: $almost-grey;
  border: 1px solid $light-grey;
  border-radius: 4px;
}

.red-score {
  color: $red;
}

.green-score {
  color: $green;
}
