@import "../../vars.scss";

.event-container {
  text-align: $text-center;
  border-radius: $border-radius;
  max-width: $max-width;
  width: $w-full;
  background-color: $bg-color;
  border: $border;
  padding-bottom: $margin-medium;
}

.date {
  margin: $m-0;
  font-size: $font-medium;
}

.type {
  margin: $m-0;
  font-size: 12px;
}

.date-and-type {
  background-color: $blue-sporteasy;
  color: $bg-color;
  padding: $margin-small;
  border-radius: 6px 6px 0px 0px;
}

.start,
.end {
  margin: $m-0;
  color: $medium-grey;
}

.time {
  margin-top: 10px;
  margin-bottom: 10px;
}

.teams,
.scores {
  display: flex;
  justify-content: $text-center;
  align-items: $text-center;
}

.teams {
  gap: 1em;
}

.scores {
  padding: $margin-small;
  gap: 0.3em;
  border: $border;
  border-radius: $border-radius;
  background-color: $almost-grey;
  font-weight: bold;
}

.p-0 {
  padding: $m-0;
  margin: $m-0;
}

.green-col {
  color: $green;
}

.red-col {
  color: $red;
}
