@import "../../vars.scss";

.event-container {
  text-align: center;
  border-radius: 6px;
  max-width: 700px;
  width: 100%;
  background-color: #fff;
  border: 1px solid $light-grey;
  padding-bottom: $margin-medium;
}

.date {
  margin: 0;
  font-size: $font-medium;
}

.type {
  margin: 0;
  font-size: 12px;
}

.date-and-type {
  background-color: $blue-sporteasy;
  color: #fff;
  padding: $margin-small;
  border-radius: 4px 4px 0px 0px;
}

.start,
.end {
  margin: 0;
  color: $medium-grey;
}

.time {
  margin-top: 10px;
  margin-bottom: 10px;
}

.teams,
.scores {
  display: flex;
  justify-content: center;
  align-items: center;
}

.teams {
  gap: 1em;
}

.scores {
  padding: $margin-small;
  gap: 0.3em;
  border: 1px solid $light-grey;
  border-radius: 4px;
  background-color: $almost-grey;
  font-weight: bold;
}

.p-0 {
  padding: 0;
  margin: 0;
}

.green-col {
  color: $green;
}

.red-col {
  color: $red;
}
